@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --moderate-cyan: #35B0BF;
    --grayish-orange: #D2CECB;
    --dark-grayish-blue: #242635;
    --dark-grayish-blue-trans: rgb(68, 72, 100);
    --montserrat: 'Montserrat', sans-serif;
    --icon-size: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: regular;
    background-color: var(--dark-grayish-blue);
    color: #FFF;
}

.navbar{
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar-menu{
    position: absolute;
    background-color: var(--dark-grayish-blue);
    width: 60%;
    right: 0;
    top: 80px;
    min-height: auto;
    padding: 1.5rem 1rem;
    right: -100%;
    transition: right .7s linear;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    padding: .5rem;
}

.nav-link{
    color: #FFF;
    text-decoration: none;
}

.nav-item:hover{
    background-color: var(--dark-grayish-blue-trans);
}

.menu-icon{
    font-size: 24px;
    color: var(--grayish-orange);
}

#menu-btn{
    visibility: hidden;
}

#menu-btn:checked ~ .navbar-menu {
    right: 0;
}

.header-photo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-bg{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-grayish-blue-trans);
    border-radius: 9rem;
    width: 300px;
    height: 300px;
}

.circle-bg>img{
    margin-bottom: .5rem;
    object-fit: contain;
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 300px;
}

.info-item{
    padding: .3rem;
    margin: .3rem;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 32px;
}

.info-name{
    font-weight: 600;
    font-size: 50px;
    color: var(--moderate-cyan);
}

.info-divisor{
    width: 100%;
}

.info-years{
    font-weight: 400;
    color: var(--moderate-cyan);
}

.info-social{
    display: flex;
    justify-content: space-around;
}

.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 42px;
    height: 42px;
    background-color: var(--grayish-orange);
    border-radius: 50%;
}

.fa-brands{
    width: 32px;
    font-weight: bold;
    color: var(--dark-grayish-blue);
}