@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --moderate-cyan: #35B0BF;
    --grayish-orange: #D2CECB;
    --dark-grayish-blue: #242635;
    --dark-grayish-blue-trans: rgb(68, 72, 100);
    --montserrat: 'Montserrat', sans-serif;
    --icon-size: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: regular;
    background-color: var(--dark-grayish-blue);
    color: #FFF;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--moderate-cyan);
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-grayish-blue);
}

.navbar{
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar-menu{
    position: absolute;
    background-color: var(--dark-grayish-blue);
    width: 60%;
    right: 0;
    top: 80px;
    min-height: auto;
    padding: 1.5rem 1rem;
    left: -100%;
    transition: left .7s linear;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-item{
    list-style: none;
    padding: .5rem;
}

.nav-link{
    color: #FFF;
    text-decoration: none;
}

.nav-item:hover{
    background-color: var(--dark-grayish-blue-trans);
}

.menu-icon{
    margin: 1.5rem;
    font-size: 24px;
    color: var(--grayish-orange);
}

#menu-btn{
    visibility: hidden;
}

#menu-btn:checked ~ .navbar-menu {
    left: 40%;
}

.header-photo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.circle-bg{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-grayish-blue-trans);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 1.5rem;
}

.circle-bg>img{
    margin-bottom: .5rem;
    object-fit: contain;
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 300px;
}

.info-item{
    padding: .3rem;
    margin: .3rem;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 32px;
}

.info-name{
    font-weight: 600;
    font-size: 50px;
    color: var(--moderate-cyan);
}

.info-divisor{
    width: 100%;
}

.info-divisor_mid{
    display: none;
}

.info-years{
    font-weight: 400;
    color: var(--moderate-cyan);
}

.info-social{
    display: flex;
    justify-content: space-around;
}

.icon-circle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 42px;
    height: 42px;
    background-color: var(--grayish-orange);
    border-radius: 50%;
    text-decoration: none;
}

.fa-brands{
    width: 32px;
    font-weight: bold;
    color: var(--dark-grayish-blue);
}

.jobs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    margin: .7rem;
    background-color: var(--dark-grayish-blue-trans);
    border-radius: 1rem;
    max-height: 140px;
}

.job-item{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 70px;
    margin: .3rem;
    background-color: var(--grayish-orange);
    border-radius: 1.5rem;
}

.job-icon{
    width: 40px;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 1.5rem;
    padding: 1.5rem;
}

.services{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.service-cards{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.service-card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: .5rem;
    text-align: center;
    background-color: #FFF;
    color: var(--grayish-orange);
    width: 400px;
    height: 300px;
    margin: 1rem;
}

.service-card-content{
    position: absolute;
    margin-top: .5rem;
    width: 90%;
}

.card-icon{
    width: 95px;
}

.card-title{
    margin-top: 1rem;
}

.card-text{
    margin-top: .5rem;
}

.bg-vector{
    position: relative;
    top: -26%;
    width: 240px;
}



/****** Media Queries ******/

/* Teléfonos grandes & tabletas pequeñas*/
@media screen and (min-width: 768px) {
    .header-info {
        position: relative;
    }

    .name{
        justify-content: flex-start;
        font-weight: bold;
    }

    .info{
        display: grid;
        grid-template-rows: repeat(4, .2fr);
        font-size: 1.2rem;
        position: absolute;
        width: 350px;
        left: 1rem;
        top: -21rem;
    }

    .info-divisor{
        display: none;
    }

    .info-divisor_mid{
        display: inline-flex;
        width: 80%;
    }

    .info-social{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        left: 3rem;
        top: -4rem;
    }

    .icon-circle{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: .5rem;
        width: 56px;
        height: 56px;
    }

    .fa-brands{
        font-size: 20px;
    }
}

/* Tabletas grandes y laptops pequeñas  */
@media screen and (min-width: 992px) {

    h1 {
        font-size: 50px;
        font-weight: 400;
    }

    h2 {
        font-size: 32px;
        font-weight: 400;
    }

    .menu-hamburger {
        display: none;
    }

    .navbar-menu {
        display: flex;
        position: static;
        justify-content: flex-end;
        font-size: 1.4rem;
        flex-direction: row;
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        transition: none;
        margin-bottom: 2rem;
    }

    .circle-bg{
        width: 500px;
        height: 500px;
    }

    .info{
        width: 400px;
        font-size: 1.5rem;
        top: -33rem;
    }

    .info-item{
        font-size: 2rem;
    }

    .info-name{
        font-size: 5rem;
    }

    .info-social{
        top: -10rem;
    }
}